# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
bio-beat-tracker/
.env
!.env.example
dev_output.html

# Android build artifacts
android/app/build/
android/capacitor-cordova-android-plugins/build/
android/capacitor-cordova-android-plugins/cordova.variables.gradle
android/.gradle/
android/build/
android/local.properties
android/capacitor-cordova-android-plugins/.gradle/

# Build artifacts
*.apk
*.aab
*.patch
